
mat-card {
    margin: 50px;
    border-radius: 25px;
    min-height: 50%
}

mat-card-header {
    padding-left: 3%;
}
mat-card-content {
    display: flex;
    justify-items: center;
    align-items: center;
}

mat-button {
    background-color: white;
}

circle-wrapper {
    display: flex;
    margin: 0 Auto;

}

