<mat-card class="example-card" style="text-align: center;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img src="assets/RWhite.png" height="100%"></div>
        <mat-card-title>Med.io</mat-card-title>
        <mat-card-subtitle>
            DispenseR
        </mat-card-subtitle>
    </mat-card-header>

    <div class="home-tab-content" *ngIf="homeTab">
        <div *ngIf="doseToDispense()">
            <div *ngIf="!questionaireActive">
                <circle-progress [animation]=false
                    [percent]="100 - (prescription.nextPrescriptionSeconds / prescription.intervalSeconds * 100)"
                    [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="getRingColour()"
                    [innerStrokeColor]="'#C7E596'" [renderOnClick]="false"
                    [title]=" + prescription.nextPrescriptionSeconds + ' s'" [titleFontSize]="50"
                    [subtitle]="'time to next dose'" [titleColor]="'white'">
                </circle-progress>

                <button class="dispense-button" *ngIf="takeButtonVisible()" mat-button (click)=dispenseButtonClick($event)>
                    DISPENSE</button>
            </div>
            <div style="margin-bottom: 5%; margin-top: 5%;" *ngIf="questionaireActive">
                How are you feeling?

                <button mat-button (click)=questionaireHappyResult($event)> <img src="assets/happy_face.png" height="150px;"></button>
                <button mat-button (click)=questionaireBadResult($event)> <img src="assets/sick_face.png" height="150px;"> </button>
            </div>
        </div>
        <div style="margin-bottom: 10%; margin-top: 10%" *ngIf="!doseToDispense()">
            Nothing has been loaded into the device!
        </div>
    </div>
    
     
    <div *ngIf="prescriptionTab">
        <p> Course Duration: {{this.prescription.courseDurationDays}} days</p>
        <p style="margin-bottom: 30%;"></p>
    </div>


    <div *ngIf="infoTab">
        <p style="margin-bottom: 30%;"> Info and things!</p>
    </div>

    <div *ngIf="contactGPTab">
        <h3> If you are experiencing any side effects please contact your GP </h3>
        <p> Name: {{this.prescription.doctorName}} </p>
        <p style="margin-bottom: 15%;"> Contact: {{this.prescription.doctorNumber}} </p>
    </div>


    <div *ngIf="aboutTab">
        <div mat-card-avatar style="margin-left: 10%; margin-top: 10%;"> <img src="assets/meddotioWhite.png"
                height="50%"></div>
        <div mat-card-avatar style="margin-left: 10%;"><img src="assets/DispensRWhite.png" height="200%%"></div>
        <p style="margin: 10%;"> Version: 0.000001 </p>
    </div>

    <mat-card-footer>
        <mat-card-actions align="center" style="font-size: 50;">
            <button mat-button (click)=homeButtonClick($event)>HOME</button>
            <button mat-button (click)=prescriptionButtonClick($event)>PRESCRIPTION</button>
            <button mat-button (click)=infoButtonClick($event)>MORE INFO</button>
            <button mat-button (click)=contactButtonClick($event)>CONTACT GP</button>
            <button mat-button (click)=aboutButtonClick($event)>ABOUT</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>